<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LapTop Price</title>
</head>
        <br>

<body <div
    style="background-image: url('https://burst.shopifycdn.com/photos/laptop-in-empty-room.jpg?width=1059&format=pjpg&exif=1&iptc=1');">

    <h1> LAPTOP___PRICE___PREDICTION </h1>
    <form method="GET" action="/Prediction">

        <label><B>Brand  Name__:</B></label>
        <select name="brand">
            <option value="Lenovo">Lenovo</option>
            <option value="DELL">DELL</option>
            <option value="acer">acer</option>
            <option value="APPLE">APPLE</option>
            <option value="HP">HP</option>
            <option value="ASUS">ASUS</option>
            <option value="MSI">MSI</option>
            <option value="Avita">Avita________</option>
        </select>

        <br>
        <br>

        <label><B>Processor Brand:</B></label>
        <select name="processor_brand">
            <option value="Intel">Intel</option>
            <option value="AMD">AMD</option>
            <option value="M1">M1________</option>
        </select>

        <br>
        <br>

        <label><B>Processor____:</B></label>
        <select name="processor_name">
            <option value="Core i5">Core i5</option>
            <option value="Core i3">Core i3</option>
            <option value="Core i7">Core i7</option>
            <option value="Core i9">Core i9</option>
            <option value="Ryzen 9">Ryzen 9</option>
            <option value="Ryzen 5">Ryzen 5</option>
            <option value="Ryzen 7">Ryzen 7</option>
            <option value="Ryzen 3">Ryzen 3</option>
            <option value="M1">M1</option>
            <option value="Pentium Quad">Pentium Quad</option>
            <option value="Celeron Dual">Celeron Dual__</option>
        </select>

        <br>
        <br>

        <label><B>__RAM__:</B></label>
        <input type="text" placeholder="     RAM  in  GB *" name="ram_gb">
        </select>
        <br>
        <br>

        <label><B>__SSD___  :</B></label>
        <input type="text" placeholder="     SSD in GB *" name="ssd">
        </select>
        <br>
        <br>

        <label><B>__HDD___:</B></label>
        <input type="text" placeholder="    Hard Disk in GB *" name="hdd">
        </select>

        <br>
        <br>
        <label><B>Graphic Card</B></label>
        <input type="text" placeholder="   Graphic Card in GB *" name="graphic_card_gb">
        </select>

        <br>
        <br>


        <label><B>Operating System :</B></label>
        <select name="os">
            <option value="Windows">Windows</option>
            <option value="Mac">Mac</option>
            <option value="DOS">DOS________</option>
        </select>

   
        <br>
        <br>

        <label><B>Touchscreen :</B></label>
        <B><label>Yes :</label> <input type="radio" name="Touchscreen" value="Yes"></B>
        <B><label>No :</label> <input type="radio" name="Touchscreen" value="No"></B>

        <br>
        <br>

        <label><B>Processor_Generation :</B></label>
        <select name="processor_gnrtn">
            <option value="4th">4th Generation</option>
            <option value="7th">7th Generation</option>
            <option value="8th">8th Generation</option>
            <option value="9th">9th Generation</option>
            <option value="10th">10th Generation</option>
            <option value="11th">11th Generation</option>
            <option value="12th">12th Generation</option>

        </select>

        <br>
        <br>

        <input type="submit" value="PREDICT_PRICE">

        <br>

        <h2><strong>Approx. Laptop Price For This Specification is : <b><U> {{R}} </U>/- Rs.</b> </strong></h2>
        <br>
        <h2><strong><span style="color: red;">{{F}}</span>  </b> </strong></h2>
        <br>
        
        <H3>Hope You Enjoy The Service . </H3>
        <H3>Thank You ... !!</H3>


    </form>


</body>

</html>